#root {
    -fx-background-color: #008631;
    -fx-border-color: #cefad0;
    -fx-border-width: 4;
}

#accumulator {
    -fx-background-color: transparent;
    -fx-font-weight: bold;
    -fx-letter-spacing: 2px;
    -fx-text-fill: #ffffff;
}

#result {
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

.number-buttons {
    -fx-background-color:  #00c04b;
    -fx-text-fill: white;
}

.operator-buttons {
     -fx-background-color:  #00ab41;
    -fx-text-fill: white;
}